<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="vue.js" type="application/javascript" charset="UTF-8"></script>
	</head>
	<body>
		<div id=app>
			<ul>
				<li v-for='item,index in items' :key=index>{{index}}:{{item}}</li>
			</ul>
			<ul>
				<li v-for='value,key in obj' :key=key>{{key}}:{{value}}</li>
			</ul>
		</div>
		<script type="application/javascript">
			var vm = new Vue({
				el: '#app',
				data:{
					items:["first","second", "third"],
					obj:{
						age:1,
						name:'小明',
						sex:'男'
					}
				}
			})
			// setTimeout(function () {
			// 	vm.items=["1","1","1"]
			// },3000)
			
		</script>
	</body>
</html>
